html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    outline: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    color: var(--white);
}

.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: block;
    padding: 12px 10px;
    cursor: pointer;
    color: #ffffff;
    background-color: var(--mainColor);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s ease 0s, color 0.3s ease-in-out;

    &:hover {
        color: var(--blue);
    }

    &:active {
        transform: scale(0.95);
    }
}

.title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

:root {
    --mainColor: #0071c2;
    --accentColor: #febb02;
    --black: #000000;
    --white: #ffffff;
    --gray: #726d6d;
    --green: #0c6d23;
    --blue: #150553;
    --lightblue: #e7fde9;
  }